* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.heading {
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
  color: #636666;
}
.home {
  max-width: 100%;
  min-height: 100vh;
  color: blanchedalmond;
}
.overlay {
  position: relative;
  background-color: #071155;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 80vh;
  opacity: 0.6;
}
.content {
  position: absolute;
  width: 100%;
  text-align: left;
  padding: 40px;
  top: 20%;
}
.content h1 {
  font-size: 100px;
}
.navbar {
  padding: 10px;
}
.about-heading {
  font-size: 50px;
}
.child {
  text-align: left;
  font-weight: 100;
  color: aqua;
}
.container-chart{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.footer-container{
  width: 100%;
  border: 1px solid black;
  background-color: black;
  opacity: 0.6;
  color: #ffff;
  padding: 10px;
  text-align: center;
}

