body{
    background-color: #f1e9e9;
}
.title-text{
    margin-top: 0px;
    text-align: center;
    font-size: 60px;
    color: indianred;
}
#space{
   margin: 45px;
}
#img{
   
   margin-top: 10px;
}

#box1{
    background-color: goldenrod;
}
#box2{
    background-color: green;
}
#box3{
    background-color: rgb(179, 51, 51);
}
#box1,#box2,#box3{
    color: honeydew;
    margin-bottom: 100px;
}
.sizetable{
    margin-top: 50px;
    width: 60%;
    border: 2px solid black;
    
}